<script>
    export default {
        props: {
            image: Image,
            // prevImage: {
            //     type: Image,
            //     default: function () {
            //         return null;
            //     }
            // },
        },
        mounted() {
            //eslint-disable-next-line
            console.log("CanvasImage mounted", this.provider.context);
        },
        data() {
            return {
                fadePct: 0,
                prevImgObj: null,
            }
        },
        methods: {

            animateFade() {
                const ctx = this.provider.context;
                if (this.fadePct > 100) {
                    this.fadePct = 0;
                    return;
                }
                requestAnimationFrame(() => {
                    this.animateFade();
                });
                ctx.clearRect(0, 0, this.provider.width, this.provider.height);
                // if (this.prevImgObj) {
                //     this.draw(this.prevImgObj, this.fadePct / 100);
                // }
                this.draw(this.image, ( 1 - this.fadePct / 100));
                this.fadePct = this.fadePct + 3;
            },
            // eslint-disable-next-line
            draw (img, opacity) {
                const ctx = this.provider.context;
                ctx.save();
                // ctx.globalAlpha = opacity;
                try {
                    // ctx.drawImage(img, 0, 0, img.naturalWidth, img.naturalHeight, 0, 0 ,this.provider.width, this.provider.height);
                    ctx.drawImage(img, 0, Math.floor(img.naturalHeight * 2 - img.naturalHeight / opacity), img.naturalWidth, img.naturalHeight, 0, 0 ,this.provider.width, this.provider.height);
                } catch(e) {
                    // eslint-disable-next-line
                    console.warn(img);
                } finally {
                    ctx.restore();
                }
            }
        },
        // name: "CanvasImage",
        // Gets us the provider property from the parent <my-canvas> component.
        inject: ['provider'],
        render() {

            // eslint-disable-next-line
            console.log("CanvasImage render");

            // Since the parent canvas has to mount first, it's *possible* that the context may not be
            // injected by the time this render function runs the first time.
            if (!this.provider.context) return;
            const ctx = this.provider.context;

            if (this.image) {
                // eslint-disable-next-line
                console.log(this.image.naturalWidth, this.image.naturalHeight, this.prevImgObj, this.image);
            }

            ctx.clearRect(0, 0, this.provider.width, this.provider.height);

            if ( ! this.prevImgObj && this.image) {
                ctx.drawImage(this.image, 0, 0, this.image.naturalWidth,
                    this.image.naturalHeight, 0, 0 ,this.provider.width, this.provider.height);
                this.prevImgObj = this.image;
            } else if (this.prevImgObj !== this.image && this.image) {
                // this.animateFade();
                ctx.drawImage(this.image, 0, 0, this.image.naturalWidth,
                    this.image.naturalHeight, 0, 0 ,this.provider.width, this.provider.height);
                this.prevImgObj = this.image;
            } else if (this.image) {
                ctx.drawImage(this.image, 0, 0, this.image.naturalWidth,
                    this.image.naturalHeight, 0, 0 ,this.provider.width, this.provider.height);
            }


            return true;
        }
    }
</script>