<template>
    <div class="canvas-container" :data-id="id">
        <div class="image-container">
            <canvas ref="canvas-instance" class="canvas-instance">
                <CanvasImage :image="this.imgObj"></CanvasImage>
            </canvas></div>
        <div class="label-container">{{name}}</div>
    </div>
</template>

<script>

    import CanvasImage from "@/components/CanvasImage";
    export default {
        name: "Canvas",
        components: {CanvasImage},
        data() {
            return {
                animation: "flip",
                provider: {
                    context: null,
                    width: 0,
                    height: 0,
                }
            }
        },
        provide() {
            return {
                provider: this.provider,
            }
        },
        methods: {
            animate() {
                // eslint-disable-next-line
                console.log("ANIMATE Canvas");
                const el = this.$el.querySelector(".image-container");
                el.classList.add("animated");
                el.classList.add(this.animation);
            },
            reset() {
                const el = this.$el.querySelector(".image-container");
                el.classList.remove('animated');
                el.classList.remove(this.animation);
            }
        },
        mounted () {

            // eslint-disable-next-line
            console.log("Canvas mounted");

            // We can't access the rendering context until the canvas is mounted to the DOM.
            // Once we have it, provide it to all child components
            // Resize the canvas to fit its parent's width.
            // Normally you'd use a more flexible resize system.
            const w = this.$refs['canvas-instance'].parentElement.clientWidth;
            this.$refs['canvas-instance'].width = w;
            this.$refs['canvas-instance'].height = w;

            this.provider.context = this.$refs['canvas-instance'].getContext('2d');
            this.provider.width = this.$refs['canvas-instance'].width;
            this.provider.height = this.$refs['canvas-instance'].height;
        },
        props: {
            id: String,
            name: String,
            image: String,
            imgObj: {
                type: Image,
            }
        },
    }
</script>

<style scoped>
    .canvas-instance {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    }
    .label-container {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
</style>