<template>
  <div class="container">
  <div class="row">
    <div class="col-12">
      <MultiSelector :playerList="this.players" :target-player-one="this.targetPlayerOne" :target-player-two="this.targetPlayerTwo" :auto-start="false"></MultiSelector>
    </div>
  </div>
  </div>
</template>

<script>
  import Player from "@/models/Player";
  import MultiSelector from './MultiSelector.vue'

export default {
  name: 'Demo1vs1',
  props: {
    msg: String
  },
  data: function () {
    let players = [
      { id: "player-1", name: "John Doe", image: "/test/img/image_avatar_stegas.webp" },
      { id: "player-2", name: "Patric Doe", image: "/test/img/image_Bildschirmfoto_2019-09-11_um_12.22.31.png" },
      { id: "player-3", name: "Jane Doe", image: "/test/img/image_image_image_image_image_image_profilbild_cropped.jpeg" },
      { id: "player-4", name: "Rebecca Doe", image: "/test/img/image_Isabell_Wohlgenannt_1_copy.jpg" },
      { id: "player-5", name: "Tony Doe", image: "/test/img/image_schlager.jpg" },
      { id: "player-6", name: "Albert Doe", image: "/test/img/image_sde_2018_crop.png" },
      { id: "player-7", name: "Rick Doe", image: "/test/img/image_tischtennis.jpeg" },
      { id: "player-8", name: "Donald Trump", image: "/test/img/image_trump.png" },
      { id: "player-9", name: "Mitch Buchannon", image: "/test/img/mitch_buchannon.jpeg" },
      { id: "player-10", name: "Spiderman", image: "/test/img/spiderman.jpg" },
      { id: "player-11", name: "Herbert Stern", image: "/test/img/mitch_1.jpeg" },
      { id: "player-12", name: "James Cook", image: "/test/img/mitch2.jpeg" },
      { id: "player-13", name: "Christopher Column", image: "/test/img/mitch3.jpg" },
      { id: "player-14", name: "Knight Rider", image: "/test/img/mitch4.jpeg" },
      { id: "player-15", name: "Superman", image: "/test/img/superman.jpg" },
      { id: "player-16", name: "Batman", image: "/test/img/batman.jpg" },
    ];
    players = players.map(o => new Player(o.id, o.name, o.image));

    return {
        targetPlayerOne: players[Math.floor(Math.random() * players.length)],
        targetPlayerTwo: players[Math.floor(Math.random() * players.length)],
        players,
    }
  },
  components: {
    MultiSelector,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
