<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <img class="img-fluid" alt="Vue logo" src="./../assets/logo.png">
            </div>
            <div class="col-12">
                <router-link class="btn btn-danger" to="/demo/quickmatch/single">Single QuickMatch</router-link>
                <router-link class="btn btn-warning" to="/demo/quickmatch/double">Double QuickMatch</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "DemoHome"
    }
</script>

<style scoped>

</style>