<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Single quick match demo</h1>

                <p class="alert alert-warning">click on the button to create a quickmatch</p>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <SingleSelector :playerList="this.players" :target-player="this.targetPlayer"></SingleSelector>
            </div>
        </div>
    </div>
</template>

<script>

    import Player from "@/models/Player";
    import SingleSelector from './SingleSelector.vue'

    export default {
        name: "DemoQuickMatchSingle",
        data: function () {
            let players = [
                {id: "player-1", name: "John Doe", image: "/test/img/image_avatar_stegas.webp"},
                {id: "player-2", name: "Patric Doe", image: "/test/img/image_Bildschirmfoto_2019-09-11_um_12.22.31.png"},
                {id: "player-3", name: "Jane Doe", image: "/test/img/image_image_image_image_image_image_profilbild_cropped.jpeg"},
                {id: "player-4", name: "Rebecca Doe", image: "/test/img/image_Isabell_Wohlgenannt_1_copy.jpg"},
                {id: "player-5", name: "Tony Doe", image: "/test/img/image_schlager.jpg"},
                {id: "player-6", name: "Albert Doe", image: "/test/img/image_sde_2018_crop.png"},
                {id: "player-7", name: "Rick Doe", image: "/test/img/image_tischtennis.jpeg"},
                {id: "player-8", name: "Donald Trump", image: "/test/img/image_trump.png"},
                {id: "player-9", name: "Mitch Buchannon", image: "/test/img/mitch_buchannon.jpeg"},
                {id: "player-10", name: "Spiderman", image: "/test/img/spiderman.jpg"},
                {id: "player-11", name: "Herbert Stern", image: "/test/img/mitch_1.jpeg"},
                {id: "player-12", name: "James Cook", image: "/test/img/mitch2.jpeg"},
                {id: "player-13", name: "Christopher Column", image: "/test/img/mitch3.jpg"},
                {id: "player-14", name: "Knight Rider", image: "/test/img/mitch4.jpeg"},
                {id: "player-15", name: "Superman", image: "/test/img/superman.jpg"},
                {id: "player-16", name: "Batman", image: "/test/img/batman.jpg"},
            ];
            players = players.map(o => new Player(o.id, o.name, o.image));

            return {
                targetPlayer: players[Math.floor(Math.random() * players.length)],
                players,
            }
        },
        components: {
            SingleSelector,
        }
    }
</script>

<style scoped>

</style>