<template>
    <div class="selector container-fluid">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <Canvas v-if="isAnonymousLoaded" v-bind:id="playerOne.id" v-bind:name="playerOne.name" v-bind:image="playerOne.image" v-bind:imgObj="playerOneImageObj" ref="player1"></Canvas>
            </div>
            <div class="col-sm-4 col-xs-12">
                <Versus v-if="isAnonymousLoaded" ref="versus"></Versus>
            </div>
            <div class="col-sm-4 col-xs-12">
                <Canvas v-if="isAnonymousLoaded" v-bind:id="playerTwo.id" v-bind:name="playerTwo.name" v-bind:image="playerTwo.image" v-bind:imgObj="playerTwoImageObj" ref="player2"></Canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button v-on:click="startAnimatedSelection" class="btn btn-primary">Start</button>
            </div>
        </div>
    </div>
</template>

<script>
    import Canvas from './Canvas'
    import Versus from './Versus'
    import Player from './../models/Player'

    const PLAYER_STATE_INIT = "init";
    const PLAYER_STATE_SELECTING = "selecting";
    const PLAYER_STATE_SELECTED = "selected";


    const KEEP_CONSTANT_ITERATION_SPEED = 0.65; // percentage to keep the speed on max
    const ANIMATION_SLOW_DOWN_RATE = 0.3;

    export default {
        name: "MultiSelector",
        props: {
            targetPlayerOne: Player,
            targetPlayerTwo: Player,
            // targetPlayerTwo: {
            //     type: Canvas,
            //     default: function() {
            //         return null;
            //     }
            // },
            playerList: Array,
            autoStart: {
                type: Boolean,
                default: function() {
                    return false;
                }
            },
        },
        data() {
            return {
                interval: 0,
                iterCount: 0,
                maxIterations: 20,
                speed: 150,
                initialSpeed: 150,
                stepPause: 300,
                loadedImageCount: 0,
                playerOneState: PLAYER_STATE_INIT,
                playerTwoState: PLAYER_STATE_INIT,
                isAnonymousLoaded: false,
                selectionIndex: 0,
                imageMap: new Map(),
                anonymousPlayer: {
                    name: "?",
                    id: "anonymous",
                    image: "/img/player.png",
                },
            }
        },
        methods: {
            // eslint-disable-next-line
            onImageLoaded(player, img) {
                this.loadedImageCount++;
                // eslint-disable-next-line
                // console.log("loading", this.loadedImageCount, "player: ", player.name, player.image);
            },
            shuffle() {
                let a = this.playerList;
                let j, x, i;
                for (i = a.length - 1; i > 0; i--) {
                    j = Math.floor(Math.random() * (i + 1));
                    x = a[i];
                    a[i] = a[j];
                    a[j] = x;
                }
                this.playerList = a;
            },
            reset() {
                this.playerOneState = PLAYER_STATE_INIT;
                this.playerTwoState = PLAYER_STATE_INIT;
                this.selectionIndex = 0;
                this.speed = this.initialSpeed;
                this.$refs.versus.reset();
                this.$refs.player1.reset();
                this.$refs.player2.reset();
            },
            isPlayerOneSelecting() {
                return this.playerOneState === PLAYER_STATE_SELECTING;
            },
            isPlayerOneSelected() {
                return this.playerOneState === PLAYER_STATE_SELECTED;
            },
            isPlayerTwoSelecting() {
                return this.playerTwoState === PLAYER_STATE_SELECTING
            },
            isPlayerTwoSelected() {
                return this.playerTwoState === PLAYER_STATE_SELECTED;
            },
            continueSelection() {
                if (this.playerOneState === PLAYER_STATE_INIT) {
                    setTimeout(() => {
                        this.shuffle();
                        this.playerOneState = PLAYER_STATE_SELECTING;
                        this.iterCount = 0;
                    }, this.stepPause);
                } else if (this.playerOneState === PLAYER_STATE_SELECTED && this.playerTwoState === PLAYER_STATE_INIT) {
                    this.speed = this.initialSpeed;
                    this.$refs.versus.animate();
                    setTimeout(() => {
                        this.shuffle();
                        this.playerTwoState = PLAYER_STATE_SELECTING;
                        this.iterCount = 0;
                    }, this.stepPause*3);
                } else if (this.playerOneState === PLAYER_STATE_SELECTING) {
                    this.iterCount++;
                    if (this.iterCount > this.maxIterations * KEEP_CONSTANT_ITERATION_SPEED) {
                        this.speed = this.speed * Math.pow((1 + ANIMATION_SLOW_DOWN_RATE / this.maxIterations), this.iterCount);
                    }
                    if (this.iterCount > this.maxIterations) {
                        this.playerOneState = PLAYER_STATE_SELECTED;
                        this.$refs.player1.animate();
                    }
                } else if (this.playerTwoState === PLAYER_STATE_SELECTING) {
                    this.iterCount++;
                    if (this.iterCount > this.maxIterations * KEEP_CONSTANT_ITERATION_SPEED) {
                        this.speed = this.speed * Math.pow((1 + ANIMATION_SLOW_DOWN_RATE / this.maxIterations), this.iterCount);
                    }
                    if (this.iterCount > this.maxIterations) {
                        this.playerTwoState = PLAYER_STATE_SELECTED;
                        this.$refs.player2.animate();
                    }
                }
                this.selectionIndex = (this.selectionIndex + 1) % this.playerList.length;

                return !(this.isPlayerOneSelected() && this.isPlayerTwoSelected());
            },
            startAnimatedSelection() {
                this.reset();
                if (this.interval > 0) {
                    clearTimeout(this.interval);
                }

                const doAnimation = () => {
                    clearTimeout(this.interval);
                    this.interval = setTimeout(() => {
                        if ( ! this.isLoadingFinished) {
                            doAnimation();
                            return;
                        }
                        // eslint-disable-next-line
                        console.log("Selector->startAnimatedSelection");

                        if (this.continueSelection()) {
                            doAnimation();
                        }
                    }, this.speed);
                };
                doAnimation();
            },
            loadPlayers() {
                const img = new Image();
                img.onload = () => {
                    this.isAnonymousLoaded = true;
                };
                this.imageMap.set(this.anonymousPlayer.id, img);
                img.src = this.anonymousPlayer.image;

                this.playerList.forEach(player => {
                    if ( ! this.imageMap.has(player.id)) {
                        const img = new Image();
                        img.onload = () => {
                            this.onImageLoaded(player, img);
                        };
                        this.imageMap.set(player.id, img);
                        img.src = player.image;
                    } else {
                        this.onImageLoaded(player, this.imageMap.get(player.id));
                    }
                });
            }
        },
        computed: {
            isLoadingFinished: function() {
              return this.loadedImageCount >= this.totalNrOfImages && this.isAnonymousLoaded;
            },
            totalNrOfImages: function() {
                return this.playerList.length;
            },
            playerOneImageObj: function() {
                return this.imageMap.get(this.playerOne.id);
            },
            playerTwoImageObj: function() {
                return this.imageMap.get(this.playerTwo.id);
            },
            playerOne: function () {
                if (this.isPlayerOneSelected()) {
                    return this.targetPlayerOne;
                } else if (this.isPlayerOneSelecting()) {
                    return this.playerList[this.selectionIndex];
                }
                return this.anonymousPlayer;
            },
            playerTwo: function () {
                if (this.isPlayerTwoSelected()) {
                    return this.targetPlayerTwo;
                } else if (this.isPlayerTwoSelecting()) {
                    return this.playerList[this.selectionIndex];
                }
                return this.anonymousPlayer;
            }
        },
        created() {
            // eslint-disable-next-line
            console.log("Selector created");
            this.loadPlayers();
        },
        mounted() {
            // eslint-disable-next-line
            console.log("Selector mounted");
            if (this.autoStart === true) {
                this.startAnimatedSelection();
            }
        },
        components: {
            Canvas,
            Versus
        }
    }
</script>

<style scoped>
</style>