<template>
    <div class="single-selector">
        <div ref="stateContainer" class="state-container state-hidden animated">
            <div class="overlay"></div>
            <div class="content-container container-fluid">
                <div class="row">
                    <div class="col-sm-4 col-xs-2"></div>
                    <div class="col-sm-4 col-xs-8">
                        <div class="container-fluid border-container vertical-center">
                            <div class="row">
                                <div class="col-12">
                                    <h2>Quick Match</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 pb-3">
                                    <Canvas class="selected-player" v-if="isAnonymousLoaded" v-bind:id="player.id" v-bind:name="player.name" v-bind:image="player.image" v-bind:imgObj="playerImageObj" ref="canvasContainer"></Canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <button @click="dismissView" v-show="showDismissButton" class="btn btn-lg btn-success">Beat 'em up!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a ref="button" class="bg-success sp-quick-match hover-pointer" v-on:click="startAnimatedSelection" ><i class="fa fa-plus fa-4x"></i></a>
    </div>
</template>

<script>
    import Canvas from './Canvas'
    import Player from "@/models/Player";

    const PLAYER_STATE_INIT = "init";
    const PLAYER_STATE_SELECTING = "selecting";
    const PLAYER_STATE_SELECTED = "selected";

    const KEEP_CONSTANT_ITERATION_SPEED = 0.65; // percentage to keep the speed on max
    const ANIMATION_SLOW_DOWN_RATE = 0.3;

    export default {
        name: "SingleSelector",
        props: {
            targetPlayer: Player,
            playerList: Array,
            autoStart: {
                type: Boolean,
                default: function() {
                    return false;
                }
            },
        },
        data() {
            return {
                startButtonEnabled: true,
                showDismissButton: false,
                interval: 0,
                iterCount: 0,
                maxIterations: 20,
                initialSpeed: 150,
                speed: 150,
                stepPause: 300,
                loadedImageCount: 0,
                playerState: PLAYER_STATE_INIT,
                isAnonymousLoaded: false,
                selectionIndex: 0,
                imageMap: new Map(),
                anonymousPlayer: {
                    name: "?",
                    id: "anonymous",
                    image: "/img/player.png",
                },
            }
        },
        methods: {
            // eslint-disable-next-line
            onImageLoaded(player, img) {
                this.loadedImageCount++;
                // eslint-disable-next-line
                console.log("loading", this.loadedImageCount, "player: ", player.name, player.image);
            },
            shuffle() {
                let a = this.playerList;
                let j, x, i;
                for (i = a.length - 1; i > 0; i--) {
                    j = Math.floor(Math.random() * (i + 1));
                    x = a[i];
                    a[i] = a[j];
                    a[j] = x;
                }
                this.playerList = a;
            },
            reset() {
                this.playerState = PLAYER_STATE_INIT;
                this.speed = this.initialSpeed;
                this.selectionIndex = 0;
                this.$refs.canvasContainer.reset();
            },
            isPlayerSelecting() {
                return this.playerState === PLAYER_STATE_SELECTING;
            },
            isPlayerSelected() {
                return this.playerState === PLAYER_STATE_SELECTED;
            },
            continueSelection() {
                if (this.playerState === PLAYER_STATE_INIT) {
                    this.iterCount = 0;
                    setTimeout(() => {
                        this.shuffle();
                        this.playerState = PLAYER_STATE_SELECTING;
                        this.iterCount = 0;
                    }, this.stepPause);
                } else if (this.playerState === PLAYER_STATE_SELECTING) {
                    this.iterCount++;
                    if (this.iterCount > this.maxIterations) {
                        this.playerState = PLAYER_STATE_SELECTED;
                    }
                }

                if (this.isPlayerSelected()) {
                    this.animatePlayer();
                    this.showDismissButton = true;
                    return false;
                }

                this.selectionIndex = (this.selectionIndex + 1) % this.playerList.length;

                return true;
            },
            animatePlayer() {
                this.$refs.canvasContainer.animate();
            },
            hideButton() {
                const btn = this.$refs.button;
                btn.setAttribute('disabled', 'disabled');
                btn.addEventListener('animationend', function () {
                    btn.classList.add("disabled");
                });
                btn.classList.remove("fadeIn");
                btn.classList.remove("animated");
                btn.classList.add("fadeOut");
                btn.classList.add("animated");
            },
            showButton() {
                const btn = this.$refs.button;
                btn.classList.remove("disabled");
                btn.classList.remove("fadeOut");
                btn.classList.remove("animated");
                btn.classList.add("fadeIn");
                btn.classList.add("animated");
            },
            dismissView() {
                // this.reset();
                this.startButtonEnabled = true;
                this.showDismissButton = false;
                // this.$refs.stateContainer.classList.add("state-hidden");
                this.$refs.stateContainer.classList.remove("fadeIn");
                this.$refs.stateContainer.classList.add("fadeOut");
                const btn = this.$refs.button;
                btn.classList.remove("disabled");
                btn.classList.remove("fadeOut");
                // btn.classList.add("fadeIn");
                // btn.classList.remove("animated");
                // this.showButton();
                if (this.interval > 0) {
                    clearTimeout(this.interval);
                }
            },
            startAnimatedSelection() {
                if ( ! this.startButtonEnabled) {
                    return;
                }
                // $(this.$refs.stateContainer).f;
                this.$refs.stateContainer.classList.remove("state-hidden");
                this.$refs.stateContainer.classList.remove("fadeOut");
                this.$refs.stateContainer.classList.add("fadeIn");
                // this.$refs.stateContainer.classList.add("animated");
                this.startButtonEnabled = false;
                this.hideButton();
                this.reset();
                if (this.interval > 0) {
                    clearTimeout(this.interval);
                }

                const doAnimation = () => {
                    clearTimeout(this.interval);
                    this.interval = setTimeout(() => {
                        if ( ! this.isLoadingFinished) {
                            doAnimation();
                            return;
                        }
                        // eslint-disable-next-line
                        console.log("Selector->startAnimatedSelection");

                        if (this.continueSelection()) {
                            if (this.iterCount > this.maxIterations * KEEP_CONSTANT_ITERATION_SPEED) {
                                this.speed = this.speed * Math.pow((1 + ANIMATION_SLOW_DOWN_RATE / this.maxIterations), this.iterCount);
                            }
                            doAnimation();
                        } else {
                            // this.showButton();
                            // this.startButtonEnabled = true;
                        }
                    }, this.speed);
                };
                doAnimation();
            },
            loadPlayers() {
                const img = new Image();
                img.onload = () => {
                    this.isAnonymousLoaded = true;
                };
                this.imageMap.set(this.anonymousPlayer.id, img);
                img.src = this.anonymousPlayer.image;

                this.playerList.forEach(player => {
                    if ( ! this.imageMap.has(player.id)) {
                        const img = new Image();
                        img.onload = () => {
                            this.onImageLoaded(player, img);
                        };
                        this.imageMap.set(player.id, img);
                        img.src = player.image;
                    } else {
                        this.onImageLoaded(player, this.imageMap.get(player.id));
                    }
                });
            }
        },
        computed: {
            isLoadingFinished: function() {
              return this.loadedImageCount >= this.totalNrOfImages && this.isAnonymousLoaded;
            },
            totalNrOfImages: function() {
                return this.playerList.length;
            },
            playerImageObj: function() {
                return this.imageMap.get(this.player.id);
            },
            player: function () {
                if (this.isPlayerSelected()) {
                    return this.targetPlayer;
                } else if (this.isPlayerSelecting()) {
                    return this.playerList[this.selectionIndex];
                }
                return this.anonymousPlayer;
            },
        },
        created() {
            // eslint-disable-next-line
            console.log("Selector created");
            this.loadPlayers();
        },
        mounted() {

            // $(this.$refs.button).tooltip();

            // eslint-disable-next-line
            console.log("Selector mounted");
            if (this.autoStart === true) {
                this.startAnimatedSelection();
            }
        },
        updated() {
            const h = window.$(window).height();
            const bcEl = this.$refs.stateContainer.querySelector('.border-container');
            window.$(bcEl).css('marginTop', Math.floor((h - bcEl.clientHeight) / 2));
        },
        components: {
            Canvas
        }
    }
</script>

<style scoped>
    h2 {
        padding-top: 10px;
        font-weight: bold;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.75;
    }
    .content-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .state-hidden {
        visibility: hidden;
    }
    .border-container {
        border-radius: 50px;
        box-shadow: rgba(0,0,0,0.8) 0 0 10px;
        background-color: #eeeeee;
    }
    .sp-quick-match {
        position: fixed;
        bottom: 10px;
        right: 10px;
        text-align: center;
        vertical-align: center;
        display: inline-block;
        border-radius: 50%;
        height: 66px;
        width: 66px;
        transition: all 0.25s ease-out;
        opacity: 1;
    }
    .sp-quick-match.disabled {
        display: none;
        cursor: auto;
    }
    .sp-quick-match:hover {
        transition: all 0.25s ease;
        box-shadow: rgba(0,0,0,0.8) 0 0 10px
    }

    i {
        color: white;
    }

    .hover-pointer:hover {
        cursor: pointer;
    }
</style>