<template>
    <div class="versus">
        <div class="vertical-center">vs</div>
    </div>
</template>

<script>
    export default {
        methods: {
            animate() {
                this.$el.classList.add("flip");
                this.$el.classList.add("animated");
            },
            reset() {
                this.$el.classList.remove("flip");
                this.$el.classList.remove("animated");
            }
        },
        name: "Versus"
    }
</script>

<style scoped>
    .versus {
        display: table;
        font-size: 100px;
        font-weight: bold;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        transition: 0.5ms ease all;
    }
    .vertical-center {
        width: 100%;
        height: 100%;
        vertical-align: middle;
       display: table-cell;
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .8s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
    /* always present */
    .expand-transition {
        transition: all .3s ease;
        height: 30px;
        padding: 10px;
        background-color: #eee;
        overflow: hidden;
    }
    /* .expand-enter defines the starting state for entering */
    /* .expand-leave defines the ending state for leaving */
    .expand-enter, .expand-leave {
        height: 0;
        padding: 0 10px;
        opacity: 0;
    }

    .bounce-transition {
        display: inline-block; /* otherwise scale animation won't work */
    }
    .bounce-enter {
        animation: bounce-in .5s;
    }
    .bounce-leave {
        animation: bounce-out .5s;
    }
    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes bounce-out {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(0);
        }
    }
</style>